/* Nav bar padding*/
body {
    padding-top: 70px;
}

.navbarSpacer {
    display: none;
    content: " ";
    height: 70px;
}

/* TAGS */
h1 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 30px;
    text-align: justify;
}

h3 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 35px;
    text-align: justify;
}

h4 {
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    font-style: italic;
    color: #badf9d;
}

h1 > small {
    color: #badf9d;
}

p, li {
    font-size: 18px;
    text-align: justify;
    font-family: sans-serif;
}

code {
    white-space: nowrap;
}

code, pre {
    color: #badf9d;
    background-color: #515151;
    font-family: monospace;
    font-size: 18px;
}

pre {
    margin: 20px 0px 20px 0px;
}
pre > .comment {
    color: white;
}

div .longCode {
    overflow: auto;
    height: 500px;
}

/* PANELS */
.panel .panel-body a {
    font-weight: 700;
    font-family: monospace;
    color: #9dbadf;
}

.panel-heading h2 a, .panel-heading h2 a:hover {
    font-size: 30px;
    font-weight: 600;
    text-align: justify;
    text-decoration: none;
}

.panel-heading h2 a:hover {
    color: #9dbadf;
}

/* CLASSES */
.btn {
    margin: 10px;
    font-weight: 500;
    font-size: 120%;
}

.center {
    text-align: center;
    margin: auto;
}

.startHidden {
    display: none;
}

/* ID */
#abstract {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    font-style: oblique;
    color: #777;
    line-height: 30px;
}

#abstract > a {
    color: #9dbadf;
}